.svg-inline--fa {
    width: 70px;
    height: 70px;
    margin-left: $margin-10;
    color: #ffff;
    border: #ffff solid 1px;
    
  }

  a{
    text-decoration: none;
    color: #ffff;
    h3{
        display: block;
    }
  }